@import url("colors.css");

/*********************************************
 *     _   _              ______            
 *    | \ | |             | ___ \           
 *    |  \| | __ ___   __ | |_/ / __ _ _ __ 
 *    | . ` |/ _` \ \ / / | ___ \/ _` | '__|
 *    | |\  | (_| |\ V /  | |_/ / (_| | |   
 *    \_| \_/\__,_| \_/   \____/ \__,_|_|   
 *
 *********************************************/

/* Make url bar not curved */
:root {
  --toolbarbutton-border-radius: 0px !important;
  --url-text-align: center !important;
  /* left | center | right */
}

#urlbar-container {
  background-color: var(--color0) !important;
  border: none !important;
}

.urlbar-input {
  background-color: var(--color0) !important;
  border: none !important;
}

/* remove three dots button in url bar */
#page-action-buttons {
  display: none !important;
}

/* remove triangle dropdown button */
.urlbar-history-dropmarker {
  display: none !important;
}

/* remove magnifying glass in url bar */
#identity-box {
  display: none !important;
}

/*Remove forward and back buttons*/
#back-button {
  display: none;
}

#forward-button {
  display: none;
}

/* Remove go button from url bar */
#urlbar-go-button {
  color: red !important;
  border: 5px solid red !important;
  display: none !important;
}

#reload-button {
  background-color: var(--color0) !important;
  color: var(--color15) !important;
  padding: 0px !important;
  margin: 0px !important;
}

#stop-button {
  background-color: var(--color0) !important;
  padding: 0px !important;
  margin: 0px !important;
}

#PanelUI-menu-button {
  background-color: var(--color0) !important;
  color: var(--color15) !important;
  padding: 0px !important;
  margin: 0px !important;
}

#nav-bar {
  border: none !important;
  background-color: var(--color0) !important;
  padding: 0px !important;
  padding-top: 10px !important;
  margin-left: -5px !important;
  margin-right: -5px !important;
  margin-bottom: -1px !important;
}

.urlbar-input-container {
  background-color: var(--color0) !important;
  border: none !important;
  color: var(--color15) !important;
}

#urlbar-container {
  background-color: var(--color0) !important;
}

#urlbar-container hover {
  background-color: var(--color10) !important;
}

/* Makes the address bar and search bar borderless */
#urlbar,
.searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

.urlbarView.megabar {
  background-color: var(--color0) !important;
}

/* Blank the placeholder text in the address bar */
#urlbar-input::placeholder {
  opacity: 0 !important;
}

.urlbarView {
  background-color: var(--color0) !important;
  border-color: transparent !important;
  border: none !important;
  margin-inline: 0px !important;
  width: 100% !important;
}

.urlbarView:not(.megabar) {
  border: 0px solid red !important;
}

.urlbarView-body-inner {
  border: none !important;
}

.urlbarView-row-inner {
  border-radius: 0px !important;
}

.urlbarView-body-inner {
  border-top: none !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: none !important;
  border: none !important;
}

#urlbar > #urlbar-background {
  border: none !important;
  box-shadow: none !important;
}

#urlbar #urlbar-input {
  text-align: center !important;
}

/* make url bar borderless */
#urlbar-input-container {
  background-color: var(--color0) !important;
  border: none !important;
  color: var(--color15) !important;
}

/***************************************************************************
 *     _   _ _     _ _              ______       _   _                    
 *    | | | (_)   | (_)             | ___ \     | | | |                 
 *    | |_| |_  __| |_ _ __   __ _  | |_/ /_   _| |_| |_ ___  _ __  ___ 
 *    |  _  | |/ _` | | '_ \ / _` | | ___ \ | | | __| __/ _ \| '_ \/ __|
 *    | | | | | (_| | | | | | (_| | | |_/ / |_| | |_| || (_) | | | \__ \
 *    \_| |_/_|\__,_|_|_| |_|\__, | \____/ \__,_|\__|\__\___/|_| |_|___/
 *                            __/ |                                     
 *                           |___/                                      
 *
 ***************************************************************************/

/* Hide the hamburger button by default */
#PanelUI-menu-button {
  transition: 300ms !important;
  /* Animate icon hiding */
  opacity: 0 !important;
  /* Make icon transparent */
  -moz-margin-end: -26px !important;
  /* Hide icon by offsetting it */
}

#tracking-protection-icon-container {
  display: none !important;
}

/* Show the hamburger button on navbar hover or page load (animation/stop button) */
#nav-bar:hover #PanelUI-menu-button {
  transition: 300ms !important;
  /* Animate icon showing */
  opacity: 1 !important;
  /* Make the icon opaque */
  -moz-margin-end: initial !important;
  /* Use initial margins to show the icon */
}

/* Hide the reload button by default */
#reload-button {
  transition: 300ms !important;
  /* Animate icon hiding */
  opacity: 0 !important;
  /* Make icon transparent */
  -moz-margin-end: -26px !important;
  /* Hide icon by offsetting it */
}

/* Show the reload button on navbar hover or page load (animation/stop button) */
#nav-bar:hover #reload-button,
#stop-reload-button[animate] > #reload-button:not([displaystop]) {
  transition: 300ms !important;
  /* Animate icon showing */
  opacity: 1 !important;
  /* Make the icon opaque */
  -moz-margin-end: initial !important;
  /* Use initial margins to show the icon */
  -mox-padding-right: 10px !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  width: 0px !important;
  color: #282a36 !important;
}

:root:not([uidensity="compact"]):not([chromehidden~="toolbar"])
  #nav-bar[brighttext]
  > #PanelUI-button {
  border-image-source: linear-gradient(
    transparent 0px,
    var(--lwt-toolbar-vertical-separator, rgba(40, 42, 54, 0.25)) 4px,
    var(--lwt-toolbar-vertical-separator, rgba(40, 42, 54, 0.18))
      calc(100% - 4px),
    transparent calc(100% - 4px)
  ) !important;
}

/****************************
 *     _____     _         
 *    |_   _|   | |        
 *      | | __ _| |__  ___ 
 *      | |/ _` | '_ \/ __|
 *      | | (_| | |_) \__ \
 *      \_/\__,_|_.__/|___/
 *                         
 ***************************/
#new-tab-button {
  transition: 300ms !important;
  /* Animate icon hiding */
  opacity: 0 !important;
  /* Make icon transparent */
  -moz-margin-end: -26px !important;
  /* Hide icon by offsetting it */
  list-style-image: url("chrome://browser/skin/add.svg") !important;
}

#nav-bar:hover #new-tab-button,
#stop-new-tab-button[animate] > #new-tab-button:not([displaystop]) {
  transition: 300ms !important;
  /* Animate icon showing */
  opacity: 1 !important;
  /* Make the icon opaque */
  -moz-margin-end: initial !important;
  /* Use initial margins to show the icon */
  -mox-padding-right: 10px !important;
}

#nav-bar-overflow-button {
  transition: 300ms !important;
  /* Animate icon hiding */
  opacity: 0 !important;
  /* Make icon transparent */
  -moz-margin-end: -26px !important;
  /* Hide icon by offsetting it */
}

#nav-bar:hover #nav-bar-overflow-button,
#stop-nav-bar-overflow-button[animate]
  > #nav-bar-overflow-button:not([displaystop]) {
  transition: 300ms !important;
  /* Animate icon showing */
  opacity: 1 !important;
  /* Make the icon opaque */
  -moz-margin-end: initial !important;
  /* Use initial margins to show the icon */
  -mox-padding-right: 10px !important;
}

/**********************************************
 *     _____ _     _      _                    
 *    /  ___(_)   | |    | |                   
 *    \ `--. _  __| | ___| |__   __ _ _ __ ___ 
 *     `--. \ |/ _` |/ _ \ '_ \ / _` | '__/ __|
 *    /\__/ / | (_| |  __/ |_) | (_| | |  \__ \
 *    \____/|_|\__,_|\___|_.__/ \__,_|_|  |___/
 *                                             
 **********************************************/

/* Hide all sidebar headers (bookmarks, history, etc) */
#sidebar-header {
  display: none !important;
}

#sidebar-search-container {
  background-color: var(--color0) !important;
}

#viewButton {
  color: var(--color15) !important;
}

.popup-internal-box {
  background-color: var(--color0) !important;
  margin: -1px !important;
}

#search-box {
  background-color: var(--color0) !important;
  color: var(--color15) !important;
}

.sidebar-splitter {
  background-color: var(--color0) !important;
  border: none !important;
}

.sidebar-placesTreechildren {
  background-color: var(--color0) !important;
  color: var(--color15) !important;
  margin-left: -15px !important;
}

vbox#sidebar-box.chromeclass-extrachrome {
  border-style: none !important;
}

/* Autohide Sidebar */
/* Sidebar min and max width removal */
#sidebar {
  max-width: none !important;
  min-width: 0px !important;
  border-right: 0px solid #282a36;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  + #sidebar-splitter {
  display: none !important;
}

/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  #sidebar-header {
  visibility: collapse;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
  --thin-tab-width: 38px;
  --wide-tab-width: 200px;
}

#sidebar-box:not(
    [sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  ) {
  min-width: var(--wide-tab-width) !important;
  max-width: none !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  position: relative !important;
  transition: all 300ms !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
  z-index: calc(var(--browser-area-z-index-tabbox, 10000) + 1) !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
  transition: all 300ms !important;
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;

  /* Negative right-margin to keep page from being pushed to the side. */
  margin-right: calc(
    (var(--wide-tab-width) - var(--thin-tab-width)) * -1
  ) !important;
}

/********************************************
 *    ______ _           _ _                
 *    |  ___(_)         | | |               
 *    | |_   _ _ __   __| | |__   __ _ _ __ 
 *    |  _| | | '_ \ / _` | '_ \ / _` | '__|
 *    | |   | | | | | (_| | |_) | (_| | |   
 *    \_|   |_|_| |_|\__,_|_.__/ \__,_|_|   
 *                                          
 ********************************************/

/* change color of findbar */
.browserContainer > findbar {
  background-color: var(--color0) !important;
  border: none !important;
}

/* color the text of the findbar */
.findbar-container {
  color: var(--color4) !important;
  background: var(--color0) !important;
  border: none !important;
}

.findbar-find-status {
  color: var(--color1) !important;
}

/* color the close button */
.findbar-closebutton {
  color: var(--color1) !important;
  background: var(--color0) !important;
}

/* color search textbox */
.findbar-textbox {
  border: none !important;
  background-color: var(--color0) !important;
  color: var(--color15) !important;
}

/* remove weird background of next/previous buttons*/
.findbar-find-next {
  background: none !important;
  border: none !important;
}

.findbar-find-previous {
  background: none !important;
  border: none !important;
}

/**************************************************************************************
 *     _   _                 _                                ___  ___                 
 *    | | | |               | |                               |  \/  |                 
 *    | |_| | __ _ _ __ ___ | |__  _   _ _ __ __ _  ___ _ __  | .  . | ___ _ __  _   _ 
 *    |  _  |/ _` | '_ ` _ \| '_ \| | | | '__/ _` |/ _ | '__| | |\/| |/ _ | '_ \| | | |
 *    | | | | (_| | | | | | | |_) | |_| | | | (_| |  __| |    | |  | |  __| | | | |_| |
 *    \_| |_/\__,_|_| |_| |_|_.__/ \__,_|_|  \__, |\___|_|    \_|  |_/\___|_| |_|\__,_|
 *                                            __/ |                                    
 *                                           |___/                                     
 **************************************************************************************/

/* Color hamburger menu */
#appMenu-mainView {
  background-color: var(--color0) !important;
  color: var(--color15);
}

/* Remove the "Sign in to sync" from top of photon hamburger menu. */
#appMenu-fxa-container {
  display: none !important;
}

/* Remove zoom controls */
#appMenu-zoom-controls {
  display: none !important;
}

/* remove edit controls */
#appMenu-edit-controls {
  display: none !important;
}

/* remove library button */
#appMenu-library-button {
  display: none !important;
}

/* remove open file button */
#appMenu-open-file-button {
  display: none !important;
}

/* remove more button */
#appMenu-more-button {
  display: none !important;
}

/* remove help button */
#appMenu-help-button {
  display: none !important;
}

/* remove find in page button */
#appMenu-find-button {
  display: none !important;
}

/* remove separators */
#widget-overflow-mainView > .panel-subview-body > toolbarseparator,
.PanelUI-subView menuseparator,
.PanelUI-subView toolbarseparator,
.cui-widget-panelview menuseparator,
.cui-widget-panel toolbarseparator {
  -moz-appearance: none;
  min-height: 0;
  border-top: 0px solid var(--panel-separator-color) !important;
  border-bottom: none;
  margin: 0px 0 !important;
  padding: 0;
}

/**************************
 *    ___  ____          
 *    |  \/  (_)         
 *    | .  . |_ ___  ___ 
 *    | |\/| | / __|/ __|
 *    | |  | | \__ \ (__ 
 *    \_|  |_/_|___/\___|
 *                       
 **************************/

/* Make loading background when opening new tab not be bright white*/
.tabbrowser-tabbox {
  background-color: var(--color0) !important;
}

/*remove Scrollbars */
#content browser {
  margin-right: -12px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  scrollbar-color: #1e90ff red !important;
  scrollbar-width: thin !important;
}

/* Remove "Send Page to Device", "Send Link to Device", "Send Tab to Device" from context menu. */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator {
  display: none !important;
}

#navigator-toolbox {
  --tabs-border-color: rgba(0, 0, 0, 0) !important;
}

:root:-moz-lwtheme-brighttext {
  --autocomplete-popup-background: var(--color0) !important;
  --autocomplete-popup-highlight-background: var(--color8) !important;
}

:root[lwt-popup-brighttext] {
  --urlbar-popup-url-color: var(--color4) !important;
  --urlbar-popup-action-color: var(--color2) !important;
}

.titlebar-button {
  display: none !important;
  stroke: #e8e6ca !important;
  padding: 0px 10px !important;
  margin-top: 10px !important;
}

.titlebar-button > .toolbarbutton-icon {
  width: 10px !important;
  height: 10px !important;
}

.toolbarbutton-animatable-box,
.toolbarbutton-1 {
  color: #e8e6ca !important;
}

:root[sizemode="normal"][tabsintitlebar]:-moz-window-inactive {
  border-top-color: #282a36 !important;
}

/* Hide Tab Toolbar */

:root {
  --uc-window-control-width: 0px;
  /* Space reserved for window controls */
  --uc-window-drag-space-width: 4px;
  /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  --uc-toolbar-height: 32px;
}

#nav-bar::before,
#nav-bar::after {
  content: "";
  display: -moz-box;
  width: var(--uc-window-drag-space-width);
}

toolbar#nav-bar::after {
  width: calc(
    var(--uc-window-control-width) + var(--uc-window-drag-space-width, 0px)
  );
}

:root:not([uidensity="compact"]) {
  --uc-toolbar-height: 38px;
}

#TabsToolbar {
  visibility: collapse !important;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
  --thin-tab-width: 38px;
  --wide-tab-width: 200px;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  + #sidebar-splitter {
  display: none !important;
}

/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  #sidebar-header {
  visibility: collapse;
  transition: all 300ms !important;
}

#sidebar-box:not(
    [sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  ) {
  min-width: var(--wide-tab-width) !important;
  max-width: none !important;
  transition: all 300ms !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  position: relative !important;
  transition: all 300ms !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
  transition: all 300ms !important;
  min-width: var(--wide-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
  margin-right: calc(
    (var(--wide-tab-width) - var(--thin-tab-width)) * -1
  ) !important;
  z-index: 1;
}

#toolbar-menubar[inactive] > #menubar-items {
  opacity: 0;
  pointer-events: none;
  margin-left: var(--uc-window-drag-space-width, 0px);
}

#toolbar-menubar {
  min-height: unset !important;
  height: var(--uc-toolbar-height) !important;
  position: relative;
}

#main-menubar {
  -moz-box-flex: 1;
  background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
  background-clip: padding-box;
  border-image: linear-gradient(
      to left,
      transparent,
      var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px
    )
    20 / 30px;
}

#toolbar-menubar:not([inactive]) {
  z-index: 2;
}
